@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700;1,900&display=swap");

body {
  font-family: "Mulish", "Helvetica", "Arial", sans-serif;
  color: #55516d;
}

.nav-wrapper {
  width: 90%;
}

/* header {
  background-image: url("/img/hero.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
} */


/* header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
} */

/* header a {
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  color: #22B2EA;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
} */

/* header a:hover {
  background: #e81c4f;
  color: white;
} */


/* main {
  margin: 0 auto;
  max-width: 50em;
  padding: 4em 1em;
  background-color: white;
} */

/* h1,
h2,
strong {
  color: #333;
} */

/* h2 {
  margin-top: 1em;
  padding-top: 1em;
} */

/* a {
  color: #ce93d8;
} */

/* code,
pre {
  background: #eee;
} */

/* code {
  padding: 2px 4px;
  vertical-align: text-bottom;
} */
/* 
pre {
  padding: 1em;
  border-left: 2px solid #69c;
} */

/* code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
} */
