@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700;1,900&display=swap");

body {
  color: #55516d;
  font-family: "Mulish", "Helvetica", "Arial", sans-serif;
}

.nav-wrapper {
  width: 90%;
}

img.big-header {
  width: 100%;
  height: auto;
  min-height: 825px;
  min-width: 1250px;
  border-bottom: 40px solid #7b1fa2;
}

div.words {
  color: #f3e5f5;
  font-size: 4rem;
  font-weight: 500;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 180px;
  left: 80px;
}

.big-word {
  font-weight: 700;
  font-size: 9rem;
}
.big-word-one {
  margin-left: 200px;
  margin-left: 13rem;
}
.big-word-two {
  margin-top: -20px;
}
.word-one {
  margin-top: -10px;
  margin-left: 20rem;
}
.word-two {
  margin-top: -10px;
  margin-left: 13rem;
}

header .arrow_downward {
  position: fixed;
  bottom: 1.5rem;
  color: #e1bee7;
  font-size: 3rem;
  opacity: 0;
}

header .fadein {
  transition: opacity 1s 2s;
  opacity: 1;
  /* animation: fade-slide-up 1s 1s ease-out forwards, pulse 2s 6s ease-out infinite;  */
}

header .fadeout {
  transition: opacity 1s;
  opacity: 0;
}

blockquote {
  margin-top: 4rem;
  font-size: 2rem;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: none;
  }
  50% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-slide-up {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.subscribe-form {
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.header {
  font-weight: 700;
}

h3 {
  font-size: 2rem;
}
