---
layout: layouts/home.njk
---
<header>
  <img src="/img/bigheader.jpg" class="big-header"/>
  <div class="words">
    <div class="big-word big-word-one">Science Communication</div>
    <div class="word-one">as</div>
    <div class="big-word big-word-two">Healing</div>
    <div class="word-two">using the arts to (re)humanize and (re)sensitize science communication spaces</div>
  </div>
  <div class="center-align">
    <i class="material-icons arrow_downward pulsed" id="down-arrow">arrow_downward</i>
  </div>
</header>

<section class="container">
  <blockquote>
  Nic Bennett, researches power, ideology, and belonging in science communication
  at The University of Texas as a doctoral candidate of the Stan Richards School of Advertising and Public Relations.
  They engage arts- and science-based research and practice to critique, disrupt, and reimagine science communication spaces.
  Alongside scientists, artists, activists, and community members,
  they hope to expand the circle of human concern in science communication and STEM.
  </blockquote>
</section>

{% include "subscribeForm.njk" %}
