---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<header>
<img src="/img/bigheader.jpg" class="big-header"/>
<div class="words">
  <div class="big-word big-word-one">Science</div>
  <div class="word-one">and</div>
  <div class="big-word big-word-two">Creativity</div>
  <div class="word-two">go hand in hand</div>
</div>
</header>


<div>
Improv requires you to understand group dynamics, tell stories, and say yes in the face of the unknown.
</div>
<div>
In many ways, improv draws upon the very same skills we cultivate as science and tech professionals.
</div>
<div>

This beginner-friendly improv workshop will use the tools of this trade to help you become a better collaborator,
</div>
<div>

better storyteller, and better equipped to handle the unknowns of a career in science or technology.
</div>
{% set maxPosts = collections.posts.length | min(3) %}
<h3>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h3>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>

SUBSCRIBE FOR MORE INFORMATION
